* {margin: 0px;
   padding: 0px;}
main {background-color: #FFFFFF;
	  padding-top: 1px;
      padding-right: 20px;
	  padding-bottom: 20px;
	  padding-left: 20px;
      display: block;}
body {background-color: #FFFFFF;
	  color: #666666;
	  background-image: linear-gradient(to bottom, #FFFFFF, #000000);
	  background-repeat: no-repeat;
	  font-family: Times, Times New Roman, serif;}
header {background-color: #000000;
	    color: #FFFFFF;
		height: 60px;
		text-align: center;
		padding-top: 15px;}
nav {background-color: #FFFFFF;
     font-weight: bold;
	 font-size: 120%;
	 text-align: center;
	 padding: 5px;}
nav a {text-decoration: none;}
a {text-decoration: none;
   color: #0066FF;}
a:hover {text-decoration: underline;}
h1 a:hover {text-decoration: none;}
h1, h2, h3 {font-family: Century Gothic;
            font-weight: normal;
            margin-bottom: 15px;}
input[type="submit"],[type="file"], button {border-radius: 4px;
                              color: #EFEFEF;
                              width: 200px;
                              padding: 7px;
                              font-family: Calibri;
                              background-image: linear-gradient(to bottom, #FF0000, #8B0000);
                              border: 0px;
                              margin-top: 15px;
                              border: none;}
input[type="text"],[type="password"],[type="email"],[type="tel"] {border-radius: 15px;
                                                                  width: 200px;
                                                                  padding: 7px;
                                                                  font-family: Arial;
                                                                  margin-top: 15px;
                                                                  border: none;
                                                                  background-color: #DFDFDF;}
input[type="text"]:focus {outline-width: 0;
                          outline-style: none;}
input[type="password"]:focus {outline-width: 0;
                              outline-style: none;}
input[type="submit"]:focus {outline-width: 0;
                            outline-style: none;}
input[type="email"]:focus {outline-width: 0;
                            outline-style: none;}
input[type="tel"]:focus {outline-width: 0;
                            outline-style: none;}
input#topic {border-radius: 15px;
             width: 350px;
             padding: 7px;
             font-family: Arial;
             margin-top: 15px;
             border: none;
             background-color: #DFDFDF;}
textarea {width: 350px;
          height: 100px;
          margin-top: 15px;
          margin-bottom: 15px;}
button:focus {outline-width: 0;
              outline-style: none;}
table.category-table {width: 100%;
                      margin-bottom: 35px;
                      font-family: Calibri;}
table.category-table td.main-category {font-size: 16pt;
                                       font-weight: bold;}
table.category-table th {font-size: 12pt;
                         font-weight: bold;
                         text-align: left;}
table.topic-table {width: 100%;
                   font-family: Calibri;}
table.topic-table th {vertical-align: top;
                      text-align: left;
                      font-size: 12pt;
                      background-color: #8E8E8E;
                      padding: 4px;}
table.topic-table td {font-size: 12pt;
                      padding: 4px;}
table.reply-table {font-family: Calibri;
                   width: 100%;}
table.reply-table th {vertical-align: top;
                      text-align: left;
                      font-size: 12pt;}
table.reply-table td {padding-left: 15px;
                      vertical-align: top;
                      margin-bottom: 5px;}
ul {list-style-image: url();
    list-style-type: none;}
li {list-style-type: none;}
dt {color: #000033;}
div {text-align: center;}
div.pane {width: 1000px;
          margin: 0px auto;}
div.header {padding-top: 15px;
            padding-bottom: 15px;}
div.loginpane {width: 230px;
               display: block;
               position: relative;
               float: left;
               padding: 15px;}
div.forumdesc {width: 700px;
               display: block;
               position: relative;
               float: left;
               padding: 15px;}
div.content {background-color: #EFEFEF;
             margin-top: 15px;
             width: 970px;
             display: block;
			 position: relative;
			 float: left;
             padding: 15px;}
div.header h1 {margin-left: 15px;
               font-family: Century Gothic;
               font-weight: normal;}
footer {font-size: 75%;
        font-style: italic;
		text-align: center;
		padding: 20px;
        font-family: Times, Times New Roman, serif;}
.plaza {color: #000000;
         font-weight: bold;}
#contact {font-size: 90%}
#wrapper {margin: auto;
          width: 80%;
		  background-color: #FFFFFF;
		  min-width: 960px;
		  max-width: 2048px;
		  box-shadow: 3px 3px 0 #333333;}
nav a:link {color: #000000;}
nav a:visited {color: #000000;}
nav a:hover {color: #000000;}
@media only screen and (max-width: 64em) {
	body {margin: 0;
	      background-color: #FFFFFF;}
	#wrapper {min-width: 0;
	          width: auto;
		      box-shadow: none;
	          border:none;}
	header {padding-top: 0.5em;
	        padding-bottom: 0.5em;
		    padding-left: 0;
	        height: auto;}
	h1 {letter-spacing: 0.1em;}
	main {margin-left: 0;}
	nav {float: none;
	     width: auto;
		 text-align: center;
	     padding: 0.5em;}
	nav li {display: inline;
	        padding-top: 0.25em;
		    padding-bottom: 0.25em;
		    padding-left: 0.75em;
	        padding-right: 0.75em;}
}
@media only screen and (max-width: 37.5em) {
	label {float: none;
		   text-align: left;}
	input[type="submit"] {margin-left: 0;}
	main {padding-top: 0.1em;
	      padding-bottom: 0.1em;
		  padding-left: 1em;
		  padding-right: 1em;
	      font-size: 90%;}
	h1 {font-size: 2em;}
	nav {padding: 0;}
	nav li {display: block;
	        margin: 0;
	        border-bottom: 2px solid #330000}
	nav a {display: block;}
}